<a href="https://colab.research.google.com/github/B-o-r-g-e/DeepTech-DSN-Data-Science-class/blob/main/assignmentDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Step 1: Install libraries
!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [6]:
# Step 1: Import libraries
import pandas as pd
import numpy as np

In [7]:
#Load dataset
df = pd.read_csv("/content/Business Funding Data.csv", encoding='latin-1')

In [8]:
# Display the entire DataFrame
df

,Website Domain,Effective date,Found At,Financing Type,Financing Type Normalized,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
0,trafigura.com,NaN,2024-03-14T01:00:00+01:00,NaN,NaN,[],NaN,NaN,$1.9b,1900000000,https://www.tradefinanceglobal.com/posts/trafi...
1,zenobe.com,NaN,2024-05-31T02:00:00+02:00,NaN,NaN,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.0,$522.7 million,522700000,https://realassets.ipe.com/news/aviva-among-le...
2,zenobe.com,NaN,2024-07-24T02:00:00+02:00,NaN,NaN,"[""private_equity""]",NaN,NaN,£41.7m,53671000,https://www.innovationnewsnetwork.com/zenobe-a...
3,canva.com,NaN,2024-05-01T02:00:00+02:00,NaN,NaN,[],stackcapitalgroup.com,1.0,US$8 million,8000000,https://www.globenewswire.com/news-release/202...
4,fidelity.com,NaN,2024-04-11T02:00:00+02:00,NaN,NaN,[],chevychasetrust.com,1.0,$1.96 million,1960000,https://www.defenseworld.net/2024/04/11/chevy-...
5,swtchenergy.com,2024-04-18T02:00:00+02:00,2024-04-24T02:00:00+02:00,Series B,series_b,"[""series_b"", ""venture""]","alantra.com, blueearth.capital",2.0,$27.2 Million,27200000,https://www.mercomindia.com/funding-and-ma-rou...
6,carnow.com,2024-04-16T02:00:00+02:00,2024-04-16T02:00:00+02:00,NaN,NaN,"[""debt_financing""]",runwaygrowth.com,1.0,$40 million,40000000,https://www.prnewswire.com/news-releases/runwa...
7,databricks.com,NaN,2024-08-07T02:00:00+02:00,Series I,series_i,"[""series_i"", ""venture""]",NaN,NaN,$685 million,685000000,https://iteuropa.com/news/large-language-model...
8,anthropic.com,NaN,2024-07-08T02:00:00+02:00,NaN,NaN,[],damachotelsandresorts.com,1.0,$50mn,50000000,https://www.arabianbusiness.com/industries/tec...
9,ey.com,NaN,2024-04-18T02:00:00+02:00,NaN,NaN,[],NaN,NaN,AU$10.7M,6865000,https://www.biometricupdate.com/202404/ey-secu...
10,openpipe.ai,NaN,2024-03-26T01:00:00+01:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,$6.7 million,6700000,https://www.geekwire.com/2024/seattle-startup-...
11,canva.com,NaN,2024-05-09T02:00:00+02:00,NaN,NaN,[],surocap.com,1.0,$2 billion,2000000000,https://www.investing.com/news/stock-market-ne...
12,syntetica.co,NaN,2024-07-16T02:00:00+02:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,Û4.2 million,4581000,https://tech.eu/2024/07/16/syntetica-raises-eu...
13,zf.com,NaN,2024-07-15T02:00:00+02:00,NaN,NaN,[],eib.org,1.0,Û425 million,464695000,https://thebrakereport.com/eib-funds-zf-brakin...
14,sparelabs.com,NaN,2024-06-05T02:00:00+02:00,NaN,NaN,[],NaN,NaN,$10M,10000000,https://www.finsmes.com/2024/06/spare-receives...
15,e-zinc.ca,NaN,2024-06-27T02:00:00+02:00,Series A2,series_a2,"[""series_a2"", ""venture""]",NaN,NaN,USD 31M,31000000,https://www.explorebit.io/article/e-Zinc%20Rai...
16,biointelligence.com,NaN,2024-04-25T02:00:00+02:00,NaN,NaN,[],NaN,NaN,$5M,5000000,https://www.prweb.com/releases/biointelligence...
17,claritisoftware.com,NaN,2024-04-10T02:00:00+02:00,NaN,NaN,"[""private_equity""]",vistaragrowth.com,1.0,$24.6 million CAD,18139000,https://betakit.com/government-software-provid...
18,heylist.com,2024-06-20T02:00:00+02:00,2024-06-18T02:00:00+02:00,NaN,NaN,"[""private_equity""]",accelia.vc,1.0,$1.6M,1600000,https://www.newswire.ca/news-releases/heylist-...
19,qohash.com,2024-04-24T02:00:00+02:00,2024-04-24T02:00:00+02:00,NaN,NaN,"[""private_equity""]","edc.ca, desjardinscapital.com, fondsftq.com",3.0,$17.4 million,17400000,https://qohash.com/qohash-secures-17-4-million...
20,topicflow.com,NaN,2024-06-25T02:00:00+02:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,CAD$2.5M,1823000,https://www.finsmes.com/2024/06/topicflow-rais...
21,claritisoftware.com,2024-06-26T02:00:00+02:00,2024-06-26T02:00:00+02:00,NaN,NaN,"[""private_equity""]",cibc.com,1.0,$10 million,10000000,https://www.marketscreener.com/quote/stock/CAN...
22,biointelligence.com,NaN,2024-04-30T02:00:00+02:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,$5 million CAD,3653000,https://betakit.com/biointelligence-technologi...
23,gaiia.com,2024-06-27T02:00:00+02:00,2024-06-27T02:00:00+02:00,Series A,series_a,"[""series_a"", ""venture""]",inovia.vc,1.0,US$13.2M,13200000,https://financialpost.com/globe-newswire/gaiia...
24,sinnstudio.com,NaN,2024-05-22T02:00:00+02:00,NaN,NaN,"[""private_equity"", ""venture""]",NaN,NaN,$2.5M,2500000,https://www.finsmes.com/2024/05/sinn-studio-ra...
25,topicflow.com,NaN,2024-06-25T02:00:00+02:00,NaN,NaN,[],NaN,NaN,$2.5m,2500000,https://www.streetinsider.com/Accesswire/Topic...

In [9]:
# Get information about the DataFrame, including data types and non-null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Website Domain             26 non-null     object
 1   Effective date             6 non-null      object
 2   Found At                   26 non-null     object
 3   Financing Type             8 non-null      object
 4   Financing Type Normalized  8 non-null      object
 5   Categories                 26 non-null     object
 6   Investors                  13 non-null     object
 7   Investors Count            13 non-null     float64
 8   Amount                     26 non-null     object
 9   Amount Normalized          26 non-null     int64
 10  Source Urls                26 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.4+ KB

In [11]:
# Display the first few rows of the DataFrame
df.head()

,Website Domain,Effective date,Found At,Financing Type,Financing Type Normalized,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
0,trafigura.com,NaN,2024-03-14T01:00:00+01:00,NaN,NaN,[],NaN,NaN,$1.9b,1900000000,https://www.tradefinanceglobal.com/posts/trafi...
1,zenobe.com,NaN,2024-05-31T02:00:00+02:00,NaN,NaN,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.0,$522.7 million,522700000,https://realassets.ipe.com/news/aviva-among-le...
2,zenobe.com,NaN,2024-07-24T02:00:00+02:00,NaN,NaN,"[""private_equity""]",NaN,NaN,£41.7m,53671000,https://www.innovationnewsnetwork.com/zenobe-a...
3,canva.com,NaN,2024-05-01T02:00:00+02:00,NaN,NaN,[],stackcapitalgroup.com,1.0,US$8 million,8000000,https://www.globenewswire.com/news-release/202...
4,fidelity.com,NaN,2024-04-11T02:00:00+02:00,NaN,NaN,[],chevychasetrust.com,1.0,$1.96 million,1960000,https://www.defenseworld.net/2024/04/11/chevy-...

In [12]:
# Generate descriptive statistics of the numerical columns
df.describe()

       Investors Count  Amount Normalized
count        13.000000       2.600000e+01
mean          1.846154       2.264687e+08
std           2.230327       5.383239e+08
min           1.000000       1.600000e+06
25%           1.000000       4.685750e+06
50%           1.000000       1.160000e+07
75%           1.000000       4.750000e+07
max           9.000000       2.000000e+09

In [20]:
#Check for duplaicates
duplicates  = df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [24]:
# Check missing values
missing = df.isnull().sum()
print(f"\nNumber of missing values: {missing}")

Number of missing values: Website Domain                0
Effective date               20
Found At                      0
Financing Type               18
Financing Type Normalized    18
Categories                    0
Investors                    13
Investors Count              13
Amount                        0
Amount Normalized             0
Source Urls                   0
dtype: int64

In [25]:
#Calculate missing percentage
missing_percentage = missing/len(df) * 100
missing_percentage

Website Domain                0.000000
Effective date               76.923077
Found At                      0.000000
Financing Type               69.230769
Financing Type Normalized    69.230769
Categories                    0.000000
Investors                    50.000000
Investors Count              50.000000
Amount                        0.000000
Amount Normalized             0.000000
Source Urls                   0.000000
dtype: float64

In [26]:
# Get information about the DataFrame after checking for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Website Domain             26 non-null     object
 1   Effective date             6 non-null      object
 2   Found At                   26 non-null     object
 3   Financing Type             8 non-null      object
 4   Financing Type Normalized  8 non-null      object
 5   Categories                 26 non-null     object
 6   Investors                  13 non-null     object
 7   Investors Count            13 non-null     float64
 8   Amount                     26 non-null     object
 9   Amount Normalized          26 non-null     int64
 10  Source Urls                26 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.4+ KB

In [28]:
# Check the unique values in the 'Effective date' column
df['Effective date'].unique()

array([nan, '2024-04-18T02:00:00+02:00', '2024-04-16T02:00:00+02:00',
       '2024-06-20T02:00:00+02:00', '2024-04-24T02:00:00+02:00',
       '2024-06-26T02:00:00+02:00', '2024-06-27T02:00:00+02:00'],
      dtype=object)

In [29]:
# Fill missing values in 'Effective date' with the mode (most frequent value)
df['Effective date'] = df['Effective date'].fillna(df['Effective date'].mode()[0])

/tmp/ipython-input-1253834294.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Effective date'].fillna(df['Effective date'].mode()[0], inplace=True)

In [30]:
# Get information about the DataFrame after filling missing values in 'Effective date'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Website Domain             26 non-null     object
 1   Effective date             26 non-null     object
 2   Found At                   26 non-null     object
 3   Financing Type             8 non-null      object
 4   Financing Type Normalized  8 non-null      object
 5   Categories                 26 non-null     object
 6   Investors                  13 non-null     object
 7   Investors Count            13 non-null     float64
 8   Amount                     26 non-null     object
 9   Amount Normalized          26 non-null     int64
 10  Source Urls                26 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.4+ KB

In [31]:
# Check the unique values in the 'Financing Type' column
df['Financing Type'].unique()

array([nan, 'Series B', 'Series I', 'Seed', 'Series A2', 'Series A'],
      dtype=object)

In [32]:
# Fill missing values in 'Amount Normalized' with the mode (most frequent value)
df['Amount Normalized'] = df['Amount Normalized'].fillna(df['Amount Normalized'].mode()[0])

/tmp/ipython-input-3612552716.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Amount Normalized'].fillna(df['Amount Normalized'].mode()[0], inplace=True)

In [33]:
# Get information about the DataFrame after filling missing values in 'Amount Normalized'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Website Domain             26 non-null     object
 1   Effective date             26 non-null     object
 2   Found At                   26 non-null     object
 3   Financing Type             8 non-null      object
 4   Financing Type Normalized  8 non-null      object
 5   Categories                 26 non-null     object
 6   Investors                  13 non-null     object
 7   Investors Count            13 non-null     float64
 8   Amount                     26 non-null     object
 9   Amount Normalized          26 non-null     int64
 10  Source Urls                26 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.4+ KB

In [34]:
# Display the entire DataFrame after filling missing values
df

,Website Domain,Effective date,Found At,Financing Type,Financing Type Normalized,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
0,trafigura.com,2024-04-16T02:00:00+02:00,2024-03-14T01:00:00+01:00,NaN,NaN,[],NaN,NaN,$1.9b,1900000000,https://www.tradefinanceglobal.com/posts/trafi...
1,zenobe.com,2024-04-16T02:00:00+02:00,2024-05-31T02:00:00+02:00,NaN,NaN,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.0,$522.7 million,522700000,https://realassets.ipe.com/news/aviva-among-le...
2,zenobe.com,2024-04-16T02:00:00+02:00,2024-07-24T02:00:00+02:00,NaN,NaN,"[""private_equity""]",NaN,NaN,£41.7m,53671000,https://www.innovationnewsnetwork.com/zenobe-a...
3,canva.com,2024-04-16T02:00:00+02:00,2024-05-01T02:00:00+02:00,NaN,NaN,[],stackcapitalgroup.com,1.0,US$8 million,8000000,https://www.globenewswire.com/news-release/202...
4,fidelity.com,2024-04-16T02:00:00+02:00,2024-04-11T02:00:00+02:00,NaN,NaN,[],chevychasetrust.com,1.0,$1.96 million,1960000,https://www.defenseworld.net/2024/04/11/chevy-...
5,swtchenergy.com,2024-04-18T02:00:00+02:00,2024-04-24T02:00:00+02:00,Series B,series_b,"[""series_b"", ""venture""]","alantra.com, blueearth.capital",2.0,$27.2 Million,27200000,https://www.mercomindia.com/funding-and-ma-rou...
6,carnow.com,2024-04-16T02:00:00+02:00,2024-04-16T02:00:00+02:00,NaN,NaN,"[""debt_financing""]",runwaygrowth.com,1.0,$40 million,40000000,https://www.prnewswire.com/news-releases/runwa...
7,databricks.com,2024-04-16T02:00:00+02:00,2024-08-07T02:00:00+02:00,Series I,series_i,"[""series_i"", ""venture""]",NaN,NaN,$685 million,685000000,https://iteuropa.com/news/large-language-model...
8,anthropic.com,2024-04-16T02:00:00+02:00,2024-07-08T02:00:00+02:00,NaN,NaN,[],damachotelsandresorts.com,1.0,$50mn,50000000,https://www.arabianbusiness.com/industries/tec...
9,ey.com,2024-04-16T02:00:00+02:00,2024-04-18T02:00:00+02:00,NaN,NaN,[],NaN,NaN,AU$10.7M,6865000,https://www.biometricupdate.com/202404/ey-secu...
10,openpipe.ai,2024-04-16T02:00:00+02:00,2024-03-26T01:00:00+01:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,$6.7 million,6700000,https://www.geekwire.com/2024/seattle-startup-...
11,canva.com,2024-04-16T02:00:00+02:00,2024-05-09T02:00:00+02:00,NaN,NaN,[],surocap.com,1.0,$2 billion,2000000000,https://www.investing.com/news/stock-market-ne...
12,syntetica.co,2024-04-16T02:00:00+02:00,2024-07-16T02:00:00+02:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,Û4.2 million,4581000,https://tech.eu/2024/07/16/syntetica-raises-eu...
13,zf.com,2024-04-16T02:00:00+02:00,2024-07-15T02:00:00+02:00,NaN,NaN,[],eib.org,1.0,Û425 million,464695000,https://thebrakereport.com/eib-funds-zf-brakin...
14,sparelabs.com,2024-04-16T02:00:00+02:00,2024-06-05T02:00:00+02:00,NaN,NaN,[],NaN,NaN,$10M,10000000,https://www.finsmes.com/2024/06/spare-receives...
15,e-zinc.ca,2024-04-16T02:00:00+02:00,2024-06-27T02:00:00+02:00,Series A2,series_a2,"[""series_a2"", ""venture""]",NaN,NaN,USD 31M,31000000,https://www.explorebit.io/article/e-Zinc%20Rai...
16,biointelligence.com,2024-04-16T02:00:00+02:00,2024-04-25T02:00:00+02:00,NaN,NaN,[],NaN,NaN,$5M,5000000,https://www.prweb.com/releases/biointelligence...
17,claritisoftware.com,2024-04-16T02:00:00+02:00,2024-04-10T02:00:00+02:00,NaN,NaN,"[""private_equity""]",vistaragrowth.com,1.0,$24.6 million CAD,18139000,https://betakit.com/government-software-provid...
18,heylist.com,2024-06-20T02:00:00+02:00,2024-06-18T02:00:00+02:00,NaN,NaN,"[""private_equity""]",accelia.vc,1.0,$1.6M,1600000,https://www.newswire.ca/news-releases/heylist-...
19,qohash.com,2024-04-24T02:00:00+02:00,2024-04-24T02:00:00+02:00,NaN,NaN,"[""private_equity""]","edc.ca, desjardinscapital.com, fondsftq.com",3.0,$17.4 million,17400000,https://qohash.com/qohash-secures-17-4-million...
20,topicflow.com,2024-04-16T02:00:00+02:00,2024-06-25T02:00:00+02:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,CAD$2.5M,1823000,https://www.finsmes.com/2024/06/topicflow-rais...
21,claritisoftware.com,2024-06-26T02:00:00+02:00,2024-06-26T02:00:00+02:00,NaN,NaN,"[""private_equity""]",cibc.com,1.0,$10 million,10000000,https://www.marketscreener.com/quote/stock/CAN...
22,biointelligence.com,2024-04-16T02:00:00+02:00,2024-04-30T02:00:00+02:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,$5 million CAD,3653000,https://betakit.com/biointelligence-technologi...
23,gaiia.com,2024-06-27T02:00:00+02:00,2024-06-27T02:00:00+02:00,Series A,series_a,"[""series_a"", ""venture""]",inovia.vc,1.0,US$13.2M,13200000,https://financialpost.com/globe-newswire/gaiia...
24,sinnstudio.com,2024-04-16T02:00:00+02:00,2024-05-22T02:00:00+02:00,NaN,NaN,"[""private_equity"", ""venture""]",NaN,NaN,$2.5M,2500000,https://www.finsmes.com/2024/05/sinn-studio-ra...
25,topicflow.com,2024-04-16T02:00:00+02:00,2024-06-25T02:00:00+02:00,NaN,NaN,[],NaN,NaN,$2.5m,2500000,https://www.streetinsider.com/Accesswire/Topic...

In [35]:
# Fill missing values in 'Financing Type Normalized' with the mode (most frequent value)
df['Financing Type Normalized'] = df['Financing Type Normalized'].fillna(df['Financing Type Normalized'].mode()[0])

/tmp/ipython-input-1502657030.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Financing Type Normalized'].fillna(df['Financing Type Normalized'].mode()[0], inplace=True)

In [36]:
# Drop the original 'Financing Type' column
df.drop(columns=['Financing Type'], inplace=True)

In [37]:
# Get information about the DataFrame after dropping 'Financing Type'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Website Domain             26 non-null     object
 1   Effective date             26 non-null     object
 2   Found At                   26 non-null     object
 3   Financing Type Normalized  26 non-null     object
 4   Categories                 26 non-null     object
 5   Investors                  13 non-null     object
 6   Investors Count            13 non-null     float64
 7   Amount                     26 non-null     object
 8   Amount Normalized          26 non-null     int64
 9   Source Urls                26 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.2+ KB

In [38]:
# Fill missing values in 'Investors' with the mode (most frequent value)
df['Investors'] = df['Investors'].fillna(df['Investors'].mode()[0])

/tmp/ipython-input-3912963560.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Investors'].fillna(df['Investors'].mode()[0], inplace=True)

In [39]:
# Fill missing values in 'Investors Count' with the mean
df['Investors Count'] = df['Investors Count'].fillna(df['Investors Count'].mean())

/tmp/ipython-input-4171807718.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Investors Count'].fillna(df['Investors Count'].mean(), inplace=True)

In [40]:
# Get information about the DataFrame after filling missing values in 'Investors' and 'Investors Count'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Website Domain             26 non-null     object
 1   Effective date             26 non-null     object
 2   Found At                   26 non-null     object
 3   Financing Type Normalized  26 non-null     object
 4   Categories                 26 non-null     object
 5   Investors                  26 non-null     object
 6   Investors Count            26 non-null     float64
 7   Amount                     26 non-null     object
 8   Amount Normalized          26 non-null     int64
 9   Source Urls                26 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.2+ KB

In [47]:
# Import LabelEncoder for categorical feature encoding
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [44]:
# Get information about the DataFrame before encoding
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Website Domain             26 non-null     object
 1   Effective date             26 non-null     object
 2   Found At                   26 non-null     object
 3   Financing Type Normalized  26 non-null     object
 4   Categories                 26 non-null     object
 5   Investors                  26 non-null     object
 6   Investors Count            26 non-null     float64
 7   Amount                     26 non-null     object
 8   Amount Normalized          26 non-null     int64
 9   Source Urls                26 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.2+ KB

In [58]:
# Define the list of categorical columns to be encoded
categorical_cols = ['Website Domain', 'Effective date', 'Found At', 'Financing Type Normalized', 'Categories', 'Investors', 'Source Urls']

In [59]:
# Apply Label Encoding to the specified categorical columns
for col in categorical_cols:
  df[col] = label_encoder.fit_transform(df[col])

In [60]:
# Display the DataFrame after Label Encoding
df

,Website Domain,Effective date,Found At,Financing Type Normalized,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
0,18,0,0,0,8,0,1.846154,2,1900000000,25
1,19,0,12,0,8,2,9.000000,14,522700000,5
2,19,0,21,0,2,0,1.846154,23,53671000,17
3,2,0,9,0,8,10,1.000000,21,8000000,16
4,8,0,3,0,8,3,1.000000,1,1960000,10
5,15,1,6,3,6,1,2.000000,10,27200000,20
6,3,0,4,0,0,9,1.000000,11,40000000,22
7,5,0,22,4,7,0,1.846154,17,685000000,3
8,0,0,18,0,8,5,1.000000,13,50000000,8
9,7,0,5,0,8,0,1.846154,18,6865000,9
10,11,0,1,0,3,0,1.846154,16,6700000,15
11,2,0,10,0,8,11,1.000000,6,2000000000,18
12,16,0,20,0,3,0,1.846154,24,4581000,6
13,20,0,19,0,8,7,1.000000,25,464695000,7
14,14,0,13,0,8,0,1.846154,4,10000000,13
15,6,0,17,2,5,0,1.846154,22,31000000,11
16,1,0,7,0,8,0,1.846154,15,5000000,23
17,4,0,2,0,2,12,1.000000,9,18139000,1
18,10,3,14,0,2,0,1.000000,0,1600000,21
19,12,2,6,0,2,6,3.000000,5,17400000,4
20,17,0,15,0,3,0,1.846154,19,1823000,14
21,4,4,16,0,2,4,1.000000,3,10000000,19
22,1,0,8,0,3,0,1.846154,12,3653000,0
23,9,5,17,1,4,8,1.000000,20,13200000,2
24,13,0,11,0,1,0,1.846154,7,2500000,12
25,17,0,15,0,8,0,1.846154,8,2500000,24

In [61]:
# Find the minimum value in the 'Amount Normalized' column
df['Amount Normalized'].min()

1600000

In [62]:
# Find the maximum value in the 'Amount Normalized' column
df['Amount Normalized'].max()

2000000000

In [41]:
# Install scikit-learn library
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

In [42]:
# Import StandardScaler and MinMaxScaler for numerical feature scaling
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [63]:
# Import LabelEncoder (already imported, but kept for clarity if this were a separate step)
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [64]:
# Initialize the StandardScaler
scaler = StandardScaler()

In [65]:
# Apply StandardScaler to the 'Amount Normalized' column
df['Amount Normalized'] = scaler.fit_transform(df[['Amount Normalized']])

In [66]:
# Get information about the DataFrame after scaling 'Amount Normalized'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Website Domain             26 non-null     int64
 1   Effective date             26 non-null     int64
 2   Found At                   26 non-null     int64
 3   Financing Type Normalized  26 non-null     int64
 4   Categories                 26 non-null     int64
 5   Investors                  26 non-null     int64
 6   Investors Count            26 non-null     float64
 7   Amount                     26 non-null     int64
 8   Amount Normalized          26 non-null     float64
 9   Source Urls                26 non-null     int64
dtypes: float64(2), int64(8)
memory usage: 2.2 KB